@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --color-Blue: #026aeb;
  --color-Gray: #1d1e22;
  --bg-navy: #07111F;

  --color-Blue: #0878F9;
  --color-Blue-dark: #0064D8;
  --color-Blue-glow: #006EFF;

  --color-Secondary: #C5CAD3;
  --color-Muted: #8D96A5;

  --card: rgba(25, 48, 75, 0.65);
  --card-border: rgba(90, 130, 170, 0.45);

  --button-secondary: #34363A;
  --border: #3A3E46;

}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #08090d;
  color: #F5F7FA;
  font-family: var(--font-inter);
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}
